*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.btn
{
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  color: white;
  background: #DC7633;
  margin-bottom: 10px;
}

.btn:hover
{
  background: black;
}
.header{
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #e0e4e8;
  font-weight: bold;
}
.header_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.header_content img{
    align-items: center;
    width: 200px;
}

.content_section{
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
  
.container{
    width: 100%;
    margin: auto;
    position: relative;
}

.header_content img{
    align-items: center;
    width: 200px;
}
select{
  font-family: 'Poppins', sans-serif;
  float: right;
  border: 2px solid #DC7633;
}

.formbox .error_msg{
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: red;
  background: #FFE5E5;
  border-radius: 5px;
  margin: auto;
}
.header .Cusbtn{
  border: none;
  outline: none;
  height: 40px;
  color: white;
  width: 60px;
  background: #DC7633;
  /* transition:  transform 1s; */
  float: right;
  margin-bottom: 10px;
}
.header .Cusbtn:hover
{
  background: black;
  /* transform: translateY(5px); */
}
.formbox{
  width: 50%;
  /* padding: 80px 40px; */
  padding: 60px 80px;
  box-sizing: border-box;
  height: 780px;
  background: #fff;
  margin: auto;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.formbox a {
  color: #DC7633;
}

.formbox a:hover {
  color: cornflowerblue;
}

.formbox label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #DC7633;
}

.formbox input{
 margin: 0;
}

.formbox input[type="text"], .formbox input[type="password"], .formbox input[type="date"]
{
  border: none;
  border-bottom: 2px solid #DC7633;
  outline: none;
  height: 20px;
  width: 100%;
  /* margin-bottom: 20px; */
  font-family: 'Poppins', sans-serif;
}


.formbox input[type="text"]:focus, .formbox input[type="password"]:focus, .formbox input[type="date"]:focus
{
  border-bottom: 2px solid black;
}
.formbox input[name="submit"]
{
  margin-top: 40px;
}


/* .formbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  color: white;
  background: #DC7633;
  float: left;
  margin-top:25px;
  margin-bottom: 10px;
} */

.formbox input[type="date"]
{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-bottom: 2px solid #DC7633;

}

/* .formbox input[type="submit"]:hover{
  background: black;
} */

.errorMsg
{
  font-weight: bold;
  font-size: 14px;
  /* padding-bottom: 20px; */
  color: red;
  height: 40px;
  float: right;
}

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  width:100%;
  margin: 100px 0 0 0; 
}
.footer_content{
  width: 70%;
  margin: auto;
  padding: 40px 25px;
  display: flex;
  
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  flex-basis: 25%;
  padding: 0 10px;
  min-width: 300px;
  margin-right: 60px;
}
.footer-col-4 ul{
  display: inline-block;
  list-style-type: none;
}
.footer-col-3 img{
  text-align: center;
  width: 150px;
  height: auto;
}